.items {
  margin: var(--medium-gap);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--medium-gap);
}

.no-items {
  margin-block-start: var(--medium-gap);
  display: grid;
  place-items: center;
  gap: var(--medium-gap);
}
.no-items > p {
  color: var(--on-surface-variant);
  font-size: var(--medium-font);
}
.dark-icon {
  display: none;
}

.dark-icon,
.light-icon {
  min-inline-size: var(--large-icon);
}

@media screen and (prefers-color-scheme: dark) {
  .light-icon {
    display: none;
  }
  .dark-icon {
    display: inline;
  }
}
