.main-nav {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  display: flex;
  max-width: fit-content;
  margin: var(--small-gap) auto;
  gap: clamp(4rem, 20vw, 10rem);
  padding: var(--small-gap) var(--medium-gap);
  border-radius: var(--large-radius);
}

.main-nav > a {
  text-decoration: none;
  font-size: var(--medium-font);
}
