:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  color-scheme: light dark;
  --small-radius: 4px;
  --medium-radius: 8px;
  --large-radius: 16px;
  --x-small-gap: clamp(0.25rem, 0.5vw, 0.5rem);
  --small-gap: clamp(0.5rem, 1vw, 1rem);
  --medium-gap: clamp(2rem, 4vw, 4rem);
  --small-font: clamp(0.5rem, 1vw, 0.8rem);
  --normal-font: clamp(1rem, 1.5vw, 1.1rem);
  --medium-font: clamp(1.2rem, 2vw, 1.4rem);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body,
p {
  margin: 0;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}
@media screen and (prefers-color-scheme: light) {
  :root {
    --primary: rgb(96 87 144);
    --surface-tint: rgb(96 87 144);
    --on-primary: rgb(255 255 255);
    --primary-container: rgb(230 222 255);
    --on-primary-container: rgb(28 17 73);
    --secondary: rgb(96 92 113);
    --on-secondary: rgb(255 255 255);
    --secondary-container: rgb(230 223 249);
    --on-secondary-container: rgb(28 25 43);
    --tertiary: rgb(124 82 100);
    --on-tertiary: rgb(255 255 255);
    --tertiary-container: rgb(255 216 230);
    --on-tertiary-container: rgb(48 17 32);
    --error: rgb(186 26 26);
    --on-error: rgb(255 255 255);
    --error-container: rgb(255 218 214);
    --on-error-container: rgb(65 0 2);
    --background: rgb(253 248 255);
    --on-background: rgb(28 27 32);
    --surface: rgb(253 248 255);
    --on-surface: rgb(28 27 32);
    --surface-variant: rgb(230 224 236);
    --on-surface-variant: rgb(72 69 78);
    --outline: rgb(121 117 127);
    --outline-variant: rgb(201 196 208);
    --shadow: rgb(0 0 0);
    --scrim: rgb(0 0 0);
    --inverse-surface: rgb(49 47 54);
    --inverse-on-surface: rgb(244 239 247);
    --inverse-primary: rgb(202 190 255);
    --primary-fixed: rgb(230 222 255);
    --on-primary-fixed: rgb(28 17 73);
    --primary-fixed-dim: rgb(202 190 255);
    --on-primary-fixed-variant: rgb(72 63 119);
    --secondary-fixed: rgb(230 223 249);
    --on-secondary-fixed: rgb(28 25 43);
    --secondary-fixed-dim: rgb(201 195 220);
    --on-secondary-fixed-variant: rgb(72 68 89);
    --tertiary-fixed: rgb(255 216 230);
    --on-tertiary-fixed: rgb(48 17 32);
    --tertiary-fixed-dim: rgb(237 184 204);
    --on-tertiary-fixed-variant: rgb(98 59 76);
    --surface-dim: rgb(221 216 224);
    --surface-bright: rgb(253 248 255);
    --surface-container-lowest: rgb(255 255 255);
    --surface-container-low: rgb(247 242 250);
    --surface-container: rgb(241 236 244);
    --surface-container-high: rgb(235 230 238);
    --surface-container-highest: rgb(230 225 233);
  }
}
@media screen and (prefers-color-scheme: light) and (prefers-contrast: more) {
  :root {
    --primary: rgb(35 25 80);
    --surface-tint: rgb(96 87 144);
    --on-primary: rgb(255 255 255);
    --primary-container: rgb(68 59 115);
    --on-primary-container: rgb(255 255 255);
    --secondary: rgb(35 32 50);
    --on-secondary: rgb(255 255 255);
    --secondary-container: rgb(68 64 84);
    --on-secondary-container: rgb(255 255 255);
    --tertiary: rgb(56 23 39);
    --on-tertiary: rgb(255 255 255);
    --tertiary-container: rgb(93 55 72);
    --on-tertiary-container: rgb(255 255 255);
    --error: rgb(78 0 2);
    --on-error: rgb(255 255 255);
    --error-container: rgb(140 0 9);
    --on-error-container: rgb(255 255 255);
    --background: rgb(253 248 255);
    --on-background: rgb(28 27 32);
    --surface: rgb(253 248 255);
    --on-surface: rgb(0 0 0);
    --surface-variant: rgb(230 224 236);
    --on-surface-variant: rgb(37 35 43);
    --outline: rgb(68 66 74);
    --outline-variant: rgb(68 66 74);
    --shadow: rgb(0 0 0);
    --scrim: rgb(0 0 0);
    --inverse-surface: rgb(49 47 54);
    --inverse-on-surface: rgb(255 255 255);
    --inverse-primary: rgb(239 233 255);
    --primary-fixed: rgb(68 59 115);
    --on-primary-fixed: rgb(255 255 255);
    --primary-fixed-dim: rgb(46 36 91);
    --on-primary-fixed-variant: rgb(255 255 255);
    --secondary-fixed: rgb(68 64 84);
    --on-secondary-fixed: rgb(255 255 255);
    --secondary-fixed-dim: rgb(46 42 61);
    --on-secondary-fixed-variant: rgb(255 255 255);
    --tertiary-fixed: rgb(93 55 72);
    --on-tertiary-fixed: rgb(255 255 255);
    --tertiary-fixed-dim: rgb(68 34 49);
    --on-tertiary-fixed-variant: rgb(255 255 255);
    --surface-dim: rgb(221 216 224);
    --surface-bright: rgb(253 248 255);
    --surface-container-lowest: rgb(255 255 255);
    --surface-container-low: rgb(247 242 250);
    --surface-container: rgb(241 236 244);
    --surface-container-high: rgb(235 230 238);
    --surface-container-highest: rgb(230 225 233);
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --primary: rgb(202 190 255);
    --surface-tint: rgb(202 190 255);
    --on-primary: rgb(49 40 95);
    --primary-container: rgb(72 63 119);
    --on-primary-container: rgb(230 222 255);
    --secondary: rgb(201 195 220);
    --on-secondary: rgb(49 46 65);
    --secondary-container: rgb(72 68 89);
    --on-secondary-container: rgb(230 223 249);
    --tertiary: rgb(237 184 204);
    --on-tertiary: rgb(72 37 53);
    --tertiary-container: rgb(98 59 76);
    --on-tertiary-container: rgb(255 216 230);
    --error: rgb(255 180 171);
    --on-error: rgb(105 0 5);
    --error-container: rgb(147 0 10);
    --on-error-container: rgb(255 218 214);
    --background: rgb(20 19 24);
    --on-background: rgb(230 225 233);
    --surface: rgb(20 19 24);
    --on-surface: rgb(230 225 233);
    --surface-variant: rgb(72 69 78);
    --on-surface-variant: rgb(201 196 208);
    --outline: rgb(147 143 153);
    --outline-variant: rgb(72 69 78);
    --shadow: rgb(0 0 0);
    --scrim: rgb(0 0 0);
    --inverse-surface: rgb(230 225 233);
    --inverse-on-surface: rgb(49 47 54);
    --inverse-primary: rgb(96 87 144);
    --primary-fixed: rgb(230 222 255);
    --on-primary-fixed: rgb(28 17 73);
    --primary-fixed-dim: rgb(202 190 255);
    --on-primary-fixed-variant: rgb(72 63 119);
    --secondary-fixed: rgb(230 223 249);
    --on-secondary-fixed: rgb(28 25 43);
    --secondary-fixed-dim: rgb(201 195 220);
    --on-secondary-fixed-variant: rgb(72 68 89);
    --tertiary-fixed: rgb(255 216 230);
    --on-tertiary-fixed: rgb(48 17 32);
    --tertiary-fixed-dim: rgb(237 184 204);
    --on-tertiary-fixed-variant: rgb(98 59 76);
    --surface-dim: rgb(20 19 24);
    --surface-bright: rgb(58 56 62);
    --surface-container-lowest: rgb(15 13 19);
    --surface-container-low: rgb(28 27 32);
    --surface-container: rgb(32 31 37);
    --surface-container-high: rgb(43 41 47);
    --surface-container-highest: rgb(54 52 58);
  }
}
@media screen and (prefers-color-scheme: dark) and (prefers-contrast: more) {
  :root {
    --primary: rgb(206 195 255);
    --surface-tint: rgb(202 190 255);
    --on-primary: rgb(23 10 67);
    --primary-container: rgb(147 137 198);
    --on-primary-container: rgb(0 0 0);
    --secondary: rgb(206 199 224);
    --on-secondary: rgb(23 20 38);
    --secondary-container: rgb(147 142 165);
    --on-secondary-container: rgb(0 0 0);
    --tertiary: rgb(242 188 209);
    --on-tertiary: rgb(42 11 27);
    --tertiary-container: rgb(179 131 150);
    --on-tertiary-container: rgb(0 0 0);
    --error: rgb(255 186 177);
    --on-error: rgb(55 0 1);
    --error-container: rgb(255 84 73);
    --on-error-container: rgb(0 0 0);
    --background: rgb(20 19 24);
    --on-background: rgb(230 225 233);
    --surface: rgb(20 19 24);
    --on-surface: rgb(254 249 255);
    --surface-variant: rgb(72 69 78);
    --on-surface-variant: rgb(205 201 212);
    --outline: rgb(165 161 172);
    --outline-variant: rgb(133 129 140);
    --shadow: rgb(0 0 0);
    --scrim: rgb(0 0 0);
    --inverse-surface: rgb(230 225 233);
    --inverse-on-surface: rgb(43 41 47);
    --inverse-primary: rgb(73 64 120);
    --primary-fixed: rgb(230 222 255);
    --on-primary-fixed: rgb(17 4 63);
    --primary-fixed-dim: rgb(202 190 255);
    --on-primary-fixed-variant: rgb(55 46 101);
    --secondary-fixed: rgb(230 223 249);
    --on-secondary-fixed: rgb(18 15 32);
    --secondary-fixed-dim: rgb(201 195 220);
    --on-secondary-fixed-variant: rgb(55 52 71);
    --tertiary-fixed: rgb(255 216 230);
    --on-tertiary-fixed: rgb(36 6 21);
    --tertiary-fixed-dim: rgb(237 184 204);
    --on-tertiary-fixed-variant: rgb(79 43 59);
    --surface-dim: rgb(20 19 24);
    --surface-bright: rgb(58 56 62);
    --surface-container-lowest: rgb(15 13 19);
    --surface-container-low: rgb(28 27 32);
    --surface-container: rgb(32 31 37);
    --surface-container-high: rgb(43 41 47);
    --surface-container-highest: rgb(54 52 58);
  }
}

body {
  background-color: var(--background);
  color: var(--on-background);
}
